<!-- Page Content -->
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Todays special</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-left">
  
      <div class="col-lg-3 col-md-4 col-6">
        <a class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/pasata1.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/prawn1.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a  class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/maggi1.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/biriyani1.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a  class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/gravy1.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/salad1.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/chk1.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/chk2.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/fsh1.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/dst1.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/dst2.jpg" alt="">
            </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="assets/dst3.jpg" alt="">
            </a>
      </div>
    </div>
  
  </div>
  <!-- /.container -->