<!--

    <button class="btn peach-gradient">
        <a class="nav-link text-secondary" data-toggle="collapse" data-target=".navbar-collapse.show" 
        routerLink='/home'><h6>Home</h6></a>
      </button>

      <button class="btn purple-gradient">
        <a class="nav-link text-secondary" data-toggle="collapse" data-target=".navbar-collapse.show" 
        routerLink='/booking'><h6>Book a table</h6></a>
      </button>

      <button class="btn blue-gradient">
        <a class="nav-link text-secondary" data-toggle="collapse" data-target=".navbar-collapse.show" 
        routerLink='/view'><h6>View booking</h6></a>
      </button>

      <button class="btn aqua-gradient">
        <a class="nav-link text-secondary" data-toggle="collapse" data-target=".navbar-collapse.show" 
        routerLink='/update'><h6>Update Booking</h6></a>
      </button>
      
      <br>
      <router-outlet></router-outlet>

-->
      

